MedClient/Service References/ServiceReference1/MedWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MedWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MedWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="peoples">
    <xs:sequence>
      <xs:element minOccurs="0" name="age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="hospitals_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sex" nillable="true" type="xs:byte" />
      <xs:element minOccurs="0" name="sourname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="peoples" nillable="true" type="tns:peoples" />
</xs:schema>